__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.db
*.sqlite3
.pytest_cache/
alembic/versions/
dist/
node_modules/
.DS_Store
coverage/
*.egg-info/
.eggs/
build/
*.egg
.venv/
venv/
env/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
*.log
.idea/
.vscode/